# Exploration

In [24]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

tickers=["AIR.PA","MC.PA","STLAM.MI"]
data=yf.download(tickers,start="2015-01-01",end="2025-12-31")["Close"].dropna()
data.head()

/var/folders/w_/dwj4w2xn3m5_6c5bp4f0vwx00000gn/T/ipykernel_80466/3386714055.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download(tickers,start="2015-01-01",end="2025-12-31")["Close"].dropna()
[*********************100%***********************]  3 of 3 completed

Ticker         AIR.PA       MC.PA  STLAM.MI
Date
2015-01-02  35.344646  108.381012  3.183993
2015-01-05  35.451046  105.233505  3.114882
2015-01-06  36.272419  104.032501  3.164247
2015-01-07  37.217209  104.115334  3.192220
2015-01-08  38.485447  107.387047  3.279430